page-home {
  .background {
    background-image: url('../../assets/imgs/bg.jpg');

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(to bottom right, #fff, #fff);
      opacity: 0.9;
    }
  }

  ion-grid {
    height: 100%;
    justify-content: center;
  }

  .item {
    margin-bottom: 10px;
    height:60px;
    border-radius: 50px;
  }
}
